APP_NAME=SILAKAP API
APP_ENV=production
APP_PORT=3000
APP_URL=https://silakap.bkpsdm-tolis.or.id
APP_TRUST_PROXY=1
ENABLE_SWAGGER=false
FORCE_HTTPS=true

DATABASE_URL=mysql://u232419966_silakap:Silakap1976@localhost:3306/u232419966_silakap

JWT_SECRET=isi_random_panjang_min_32_karakter
JWT_EXPIRES_IN=15m

REDIS_ENABLED=false
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

MINIO_ENDPOINT=
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=silakap-docs

SINGLE_TENANT=true
DEFAULT_TENANT=bone

CORS_ORIGIN=https://silakap.bkpsdm-tolis.or.id
COOKIE_SECURE=true
COOKIE_SAME_SITE=strict
